.container {
  .main-content {
    height: 100%;
    padding-top: 52px;
    .header {
      padding: 0.5rem;
      #header-text {
        #header-text-child-1 {
          flex: 0.5;
        }
        #header-text-child-2 {
          border-right: none;
          flex: 0.5;
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
    #view-match {
      display: none;
    }

    .content-body {
      height: 100%;
      width: 100%;
      .bg-image {
        min-height: 60vh;
        background-image: linear-gradient(rgba(1, 20, 40, 0), #011428 80%),
          url(https://jayant061.github.io/ecb-homepage/images/England-U19s-leave-the-field-in-Australia.png);
        position: relative;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
      }
      .headline {
        .headline-heading {
          width: 100%;
          a {
            font-size: 1.7rem;
          }
        }
      }
      .cards {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        .card {
            padding-bottom: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: start;

          .mobileimg{
            width: 30%;
            height: 100%;
          }
          color: black;
          transition: 0.3s ease;
          &:hover{
            p{
                text-decoration: underline;
            }
            transform: none;
            .mobileimg{
                transform: scale(1.02);
            }
          }
          .card-el{
            justify-content: start;
          }
        }
        #card-1 .card-el,
        #card-2 .card-el,
        #card-3 .card-el {
          background-image: none;
          display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: 100%;
            border-top: 1px dashed gray;
            padding: 5px;
        }
      }
    }
  }
}
