$redClr:#EE393F;
$redBoxShadow:#E1131A;
$lightClr:#7fa2bc;
$borderLightClr:#2d6085;
$navHoverBgc:#00355e;
$sectionHeaderLeftClr:#003E6C;
$sectionHeaderRightClr:#005699;
$assetsBaseURL: "http://localhost:5500/images/";
$navAbsPageBgc:#002F52;
